.wrapper {
    display: flex;
    overflow: hidden;
    height: 100vh;
    z-index: 2;
    flex-direction: column;
}

.header-small {
    flex: 3;
    background: dodgerblue;
    display: flex;
    height: 100%;
    line-height: 60px;
}

.header-chat {
    background: #ffffff;
    flex: 1.5;
    padding: 20px 0;
    border-left: 1px solid #cccccc;
    text-align: center;
    font-weight: 600;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
}

.board {
    flex: 3;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.board-header {
    margin: 40px 40px 0;
    align-items: center;
    padding: 20px;
    display: flex;
}

.board-title {
    font-size: 26px;
    font-weight: 600;
}

.add-member {
    color: dodgerblue;
    font-weight: 600;
    margin-left: 30px;
}

.search-box {
    margin: 40px 40px 0;
    display: block;
    flex-direction: column;
    background: #ffffff;
}

.search-wrapper {
    display: flex;
    position: relative;
    padding: 20px;
    z-index: 1;
}

.search-wrapper > i {
    color: dodgerblue;
}

.result {
    position: relative;
}

.users {
    max-height: 100vh;
    overflow: auto;
    position: absolute;
    background: #ffffff;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search {
    border: none;
    flex: 1;
}

.users {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px;
}

.name-small {
    font-weight: 600;
    margin-left: 10px;
}

.lists {
    display: flex;
    flex: 1;
    overflow-x: auto;
}

.list-wrapper {
    padding: 40px 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.list, .new-list {
    width: 350px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 100%;
}

.new-list {
    width: 250px;
    text-align: center;
    border: none;
}

.last-list {
    padding-right: 40px;
}

.first-list {
    padding-left: 40px;
}

.list-title {
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.new-list-form {
    padding: 10px;
    display: flex;
}

.new-list-form > input {
    flex: 1;
    border: none;
}

.new-list-form > i {
    color: dodgerblue;
}

.cards {
    padding: 0 20px;
    border-bottom: 1px solid #cccccc;
    overflow-y: auto;
}

.card {
    margin-top: 20px;
    padding: 10px;
}

.card-description {
    color: #919191;
    padding: 10px;
}

.members {
    margin-left: 20px;
}

.chat {
    flex: 1.5;
    max-width: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #cccccc;
}

.messages, .comments {
    overflow: hidden;
    overflow-y: scroll;
    flex: 1;
}

.message-box, .comment-box {
    display: flex;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -moz-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    padding: 20px;
    align-items: center;
}

.text {
    flex: 1;
    overflow: hidden;
    padding-right: 10px;
    border: none;
    font-family: sans-serif;
}

.fa-paper-plane {
    color: dodgerblue;
}

.blue-message, .light-message, .light-comment {
    max-width: 20vw;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -moz-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    margin: 20px;
}

.light-message, .light-comment {
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 10px;
}

.name {
    font-weight: 600;
    margin-bottom: 5px;
}

.blue-message {
    color: #ffffff;
    text-align: right;
    background: dodgerblue;
    margin-left: auto;
}

.add {
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    bottom: 50px;
    right: 50px;
    display: flex;
    background: dodgerblue;
    -webkit-box-shadow: 0 0 10px #787878;
    -moz-box-shadow: 0 0 10px #787878;
    box-shadow: 0 0 10px #787878;
}

.add-small {
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px auto;
    background: dodgerblue;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    -webkit-box-shadow: 0 0 10px #787878;
    -moz-box-shadow: 0 0 10px #787878;
    box-shadow: 0 0 10px #787878;
}

.fa-plus {
    display: block;
    margin: auto;
    color: #ffffff;
}

.last-card {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.new-card {
    display: flex;
}

.input {
    flex: 1;
    border: none;
}

.new-card > i {
    color: dodgerblue;
}

.card-detailed {
    background: #ffffff;
    border-radius: 10px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: hidden;
}

.card-details-wrapper {
    flex: 3;
    overflow-y: auto;
}

.comments-wrapper {
    flex: 2;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    border-left: 1px solid #cccccc;
    overflow-x: hidden;
}

.comments-header, .title-wrapper {
    text-align: center;
    font-weight: 600;
    z-index: 2;
    padding: 20px 0;
    display: flex;
}

.comments-header {
    border-left: 1px solid #cccccc;
    flex: 2;
    display: block;
}

.comments {
    flex: 1;
    overflow-y: auto;
}

.card-header {
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -moz-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    z-index: 2;
    width: 100%;
    height: 60px;
}

.title-wrapper {
    flex: 3;
}

.title {
    font-size: 24px;
    text-align: start;
    flex: 1;
    margin-left: 20px;
}

.edit {
    margin-right: 20px;
}

.edit > i {
    color: dodgerblue;
}

.description {
    position: relative;
    margin-top: 10px;
    font-size: 17px;
    margin-left: 20px;
}

.card-details {
    padding: 20px;
    position: relative;
}

.description-title {
    font-weight: 600;
    margin-left: 20px;
    font-size: 20px;
}

.tools {
    display: flex;
    padding: 0 20px 20px;
}

.tool {
    background: #cccccc;
    -webkit-border-radius: 10px;
    margin-left: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
    font-weight: 600;
}

.members-wrapper {
    margin-left: 40px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

.members-title {
    font-weight: 600;
}

.map {
    width: 100%;
    height: 250px;
    margin: 20px auto 20px;
}

.members-wrapper {
    margin-left: 40px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

.members-title {
    font-weight: 600;
}

.members-list-wrapper, .archive-list-wrapper {
    margin: 0 40px 0;
    align-items: center;
    display: flex;
    position: relative;
}

.members-list, .archive-list {
    position: absolute;
    display: none;
    top: 20px;
    left: 0;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.member {
    padding: 10px;
}

.name {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.email {
    color: #9e9e9e;
    font-size: 14px;
}

.archive-card {
    padding: 20px;
}

.archive-card-title {
    font-weight: 600;
    font-size: 16px;
}